[defaults]
inventory = /app/data/ansible-inventory.ini
roles_path = /app/ansible/roles
host_key_checking = False
timeout = 60
remote_user = musicbox
private_key_file = /app/data/ssh/id_ed25519
retry_files_enabled = False
stdout_callback = default
deprecation_warnings = False

[privilege_escalation]
become = False
become_method = sudo
become_user = root
become_ask_pass = False

[callback_default]
result_format = yaml

[ssh_connection]
pipelining = True
ssh_args = -o ControlMaster=auto -o ControlPersist=60s -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null
